
:root{
    --blue0: #204473;
    --blue1: #3269D9;
    --blue2: #148DD9;
    --blue3: #0D9FD9;
    --gray-soft: #F2F2F2;

}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}



header{
    width: 100%;
    /* background-color: rgb(168, 159, 159); */
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem 0 5rem;
}

nav>div>h1{
    font-size: 2rem;
    color: var(--blue1);
}
.btn-buster{
    background-color: var(--blue1) !important;
    color: white;
    padding: .8rem;
    border-radius: 4px;
}

ul{
    list-style: none;
    justify-content: space-between;
    width: 60%;
}
.menu-opciones{
    display: flex;
    font-size: 1rem;
    font-weight: bold;
}

.menu-opciones>li{
    color: #797979;
}

.main-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: row-reverse; */
    width: 100%;
    height: 50rem;

    -webkit-box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);


}
.img-main-header{
    width:100%;
    display: inline-block;
    height: 50rem;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0 1rem 0 5rem;
    height: 100%;
}
h2{
    color: var(--blue0);
}

h6, h5{
    color: var(--blue1);
}

i{
    color: var(--blue1);
}

p{
    color: #797979;
}
.header-text>h2{
    font-size: 4rem;
   
}
.header-text>p{
    font-size: 2rem;
    color: #797979;
}
.header-options{
    display: flex;
    width: 100%;
}
.header-options>p{
    margin-left: 1rem;
}

.main-logos{
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-logos>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-logos>div>img{
    width: 50%;
    height: 50%;
}

.main-recom{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.margin-t{
    margin-top: 5rem;
}
.right{
    margin-top: 5rem;
    grid-column: 2/2;
}
.main-recom-text{
    padding: 0 5rem 0 5rem;
}

.main-recom-text>h2{
    font-size: 3.5rem;
}
.main-recom-text>p{
    font-size: 2rem;
}

.main-cards{
    width: 100%;
    margin-top: 5rem;
    padding: 0 5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-card{
    width: 60%;
    height: 22rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 7px;
    
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
}

.main-card>div>i{
    font-size: 3rem;
}
.main-card>h5{
    font-size: 1.4rem;
}

.main-recom>div>img{

    width: 100%;
    height: 100%;
}

.main-recom>.image-recom{
    grid-column: 1/2;
    grid-row: 1/2;
}

.cards-long{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2rem;
    padding: 3rem;
    width: 80%;
    
}
.card-long{
    padding: 2rem;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;

    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
}
.card-long>i{
    font-size: 3rem;
}
.card-long>div>i{
    font-size: 3rem;
}
.card-long>div{
    display: flex;
    align-items: center;
}
.card-long>div>h6{
    margin-left: 1rem;
    font-size: 1rem;
}

.cards-cube{
    display: grid;
    width: 100%;
    padding: 10rem;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 2rem;
}

.card-cube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    padding: 1rem;
    /* border: 1px solid black; */
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
}
.card-cube>div{
    display: flex;
    /* justify-content: sp; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
}



.card-cube>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    /* align-items: ; */
}
.card-cube>div>div>h6{
    margin: 0;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.card-cube>div>div>p{
    margin: 0;
}
.card-cube>div>i{
    font-size: 3rem;
}
.card-cube>div>button{
    margin: 2rem;
    border-radius: 7px;
    width: 100%;
    padding: 1rem;
    border: 0;
    /* color: blue; */
    color: white;
    background-color: var(--blue1);
}

footer>div{
    margin-top: 10rem;
    width: 100%;
    height: 30rem;
    padding: 5rem 5rem 0 5rem;
    /* background-color: gray; */
    background-color: var(--gray-soft);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-options{
    display: flex;
    justify-content: space-between;
}
.footer-options>div{
    display: flex;
    flex-direction: column;
}
footer>div>div>div>h3{
    color: var(--blue1);
    font-size:3rem;
}
footer>div>div>div>p{
    font-size:1.5rem;
}
.footer-options>div>h4{
    font-size: 2rem;
}

.footer-options>div>a{
    font-weight: bold;
    color: #797979;
    margin-top: 1rem;
}

